RewriteEngine On
# If you get "invalid response", set RewriteBase to match your URL path, e.g.:
# RewriteBase /capstone_project/nir360/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
